@model ProfileVM

@if(TempData["InvoiceAdded"] != null)
{
	<h1>Invoice added successfully</h1>
}

<div class="ProfileInfoSection">
	<h2>User Name: @Model.CurrentUser.UserName</h2>
</div>

<div>
	<a class="btn btn-warning" asp-controller="Invoices" asp-action="CreateInvoice">Create Invoice</a>
</div>