@model LogInVM
@{
    ViewData["Title"] = "LogIn Page";
}

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="text-align: center;">
    <form method="post" asp-action="LogIn" style="display: inline-block;">
      <div asp-validation-summary="ModelOnly" style="color: red;"></div>
      <div style="margin-bottom: 10px;">
        <label asp-for="UserName" style="display: block; margin-bottom: 5px;"></label>
        <input asp-for="UserName" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
        <span asp-validation-for="UserName" style="color: red;"></span>
      </div>
      <div style="margin-bottom: 10px;">
        <label asp-for="Password" style="display: block; margin-bottom: 5px;"></label>
        <input asp-for="Password" type="password" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
        <span asp-validation-for="Password" style="color: red;"></span>
      </div>
      <div style="margin-bottom: 10px;">
        <input type="submit" value="LogIn" style="background-color: blue; color: #fff; border: none; padding: 10px 20px; border-radius: 4px; cursor: pointer;">
      </div>
    </form>
    <div style="margin-top:20px;">
      <a asp-action="Register" style="background-color: green; color: #fff; border: none; padding: 10px 20px; border-radius: 4px; cursor: pointer;">Create Account</a>
    </div>
  </div>
</div>






<partial name="_ValidationScriptsPartial"></partial>

